*{
    padding: 0px;
    margin: 0px;
}
.heading1{
    height: 30px;
    font-weight: 600;
    font-size: 13px;
    background-color: black;
    color: white;
    padding-top: 5px;
    text-align: center;
 
}
.heading2{
    height: 20px;
    margin-right: 30px;
    display: flex;
    justify-content: end;
}
.heading2 p{
    margin-left: 18px;
    font-size: 13px;
}
.heading3{
    height: 80px;
}
.heading3 img{
    margin-left: 50px;
    height: 80px;
    width: 70px;
    background-size: cover;
    margin-bottom: 30px;
}
#men{
    margin-top: 50px;
    margin-left: 350px;
    font-weight: 600;
}
#women{
    font-weight: 600;
}
#kids{
    font-weight: 600;
}
.heading3 a{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 35px;
}
#outlet{
    color: red;
    font-weight: 600;
}
#search{
    height: 30px;
    margin-left: 30px;
    background-color: rgba(193, 186, 186, 0.61);
    border:none;
    border-radius: 4px;
}
#profile{
    margin-left: 15px;
    font-size: 20px;
}
#heart{
    font-size: 20px;
    margin-left: 15px;
}
#bag{
    font-size: 20px;
    margin-left: 15px;
}
.heading4{
    height: 50px;
    font-size: 16px;
    background-color: rgb(35, 134, 215);
    color: white;
    text-align: center;
    padding-top: 10px;
}
.first{
    height: 400px;
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enIN/Images/in-ss23-bcci-test-jersey-mh-reveal-hp-mh-image-d_tcm209-1028645.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#shop{
    margin-top: 300px;
    margin-left: 295px;
    font-size: 15px;
    height: 30px;
    width: 110px;
    border-radius: 5px;
}
#explore{
    margin-top: 5px;
    margin-left: 295px;
    font-size: 15px;
    height: 30px;
    width: 110px;
    border-radius: 5px;
}
.second{
    margin-top: 0px;
    height: 400px;
    display: flex;
}
.yezzy{
    width: 30%;
    background-color:white;
    text-align: center;
}
.yezzy p{
    font-size: 70px;
    font-weight: 500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30%;
}
.yezzy small{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.yezzy button{
    margin-top: 5px;
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
}
.items1{
    width: 70%;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.items1 img{
    height: 210px;
    width: 300px;
    background-size: cover;
}
.popular{
    height: 300px;
    background-color: white;
}
.popular h2{
    margin-left: 180px;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
.popular a{
    font-size: 50px;
    margin-top: 95px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    padding-left: 180px;
    padding-top: 45px;
}
#samba{
    margin-left: 1px;
}
#bagpack{
    margin-left: 1px;
}
#bag1{
    margin-left: 110px;
    font-size: 50px;
    font-weight: 600;
}
.who h2{
    margin-left: 15px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
.gender{
    display: flex;
    justify-content: space-evenly;
}
.gender img{
    height: 580px;
    width: 470px;
    background-size: contain;
    border-radius: 5px;
}
.gender1{
    display: flex;
    font-weight: 600;
    font-size: 20px;
}
#men1{
    margin-left: 15px;
}
#women1{
    margin-left: 450px;
}
#kids1{
    margin-left: 410px;
}
.arrivals{
    height: 50px;
    margin-top: 40px;
}
#new{
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    margin-left: 20px;
}
#best{
    height: 40px;
    width: 150px;
    background-color: white;
    color: black;
}
.collection{
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.offers{
    margin-top: 40px;
    height: 490px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.offers img{
    height: 350px;
}
.offers p{
    margin-bottom: 2px;
}
.info{
    height: 500px;
    margin-top: 15px;
    background-color: pink;
    display: flex;
}

.info1 h3 {
    font-weight: 700;
    margin-top: 5px;
}

.info1 p {
    font-weight: 400;
}

.member {
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member h2 {
    font-weight: 600;
}

.member button {
    margin-left: 15px;
    height: 40px;
    width: 180px;
    background-color: black;
    color: white;
}

.footer1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    background-color: rgb(251, 254, 255);
}

.footer1 li {
    list-style: none;
}

.footer1 p {
    font-size: 18px;
    font-weight: 600;
}

#sports {
    margin-top: 20px;
}

#collection {
    margin-top: 44px;
}

.company1 {
    margin-bottom: 60px;
}

#support {
    margin-top: 24px;
}

.last {
    height: 80px;
    background-color: rgb(57, 55, 55);
    color: white;
}

.last1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.last p {
    margin-left: 30px;
    font-size: 14px;
    margin-top: 7px;
}

.last2 {
    text-align: center;
    background-color: rgb(57, 55, 55);
    color: white;
}
