*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width:550px) {
    .first{
        height: 30px;
        width: 100%;
        display: flex;
        background-color: black;
        color: white;
    }
    #menu{
        margin-top: 5px;
        color: white;
    }
  .first img{
    height: 25px;
    margin-top: 4px;
    margin-left: 5px;
    width: 45px;
  }
  .first p{
    font-size: 10px;
    margin-top: 8px;
    margin-left: 210px;
    font-weight: 700;
  }
  #profile{
    margin-top: 7px;
    margin-left: 10px;
    font-size: 12px;
  }
  #cart{
    margin-top: 7px;
    margin-left: 10px;
    font-size: 12px;
  }
  .second{
    height: 30px;
    background-color: black;
  }
  .second input{
    width: 95%;
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 10px;
    border-radius: 5px;
  }
  .second input:hover{
    border: 3px solid rgb(217, 187, 38);
  }
  .third{
    height: 40px;
    background-color: black;
    color: white;
  }
  .third p{
    font-size: 10px;
    font-weight: 600;
    margin-left: 5px;
  }
  .third small{
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
  }
  .fourth {
    height:30px;
    background-color: rgb(26, 25, 25);
    color: white;
    display:flex;
}
.fourth i{
    margin-top: 8px;
    margin-left: 10px;
    font-size: 12px;
}
.fourth p{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 12px;
}
    
.fifth{
    height: 85px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.fifth img {
    margin-top: 5px;
    height: 60px;
    width: 40px;
}
.fifth p{
    font-size: 10px;
    font-weight: 600;
}
.sixth{
    height: 220px;
    background-image: url("https://m.media-amazon.com/images/G/31/img21/Wireless/tsabikhi/AJFP/mobile_sobePlatinumBrand900x514._SX828_QL85_.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.seventh{
    height: 200px;
    background-color: rgb(238, 214, 218);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#inner1{
    height: 90px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#inner1 h6{
    font-size: 6px;
}
#inner1 img{
    height: 22px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
#inner1 p{
    font-size: 4px;
    font-weight: 600;
}
#inner2{
    height: 90px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#inner2 h6{
    font-size: 6px;
}
#inner2 img{
    height: 22px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
#inner2 p{
    font-size: 4px;
    font-weight: 600;
}
#inner3{
    height: 90px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#inner3 h6{
    font-size: 6px;
}
#inner3 img{
    height: 22px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
#inner3 p{
    font-size: 4px;
    font-weight: 600;
}
#inner4{
    height: 90px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#inner4 h6{
    font-size: 6px;
}
#inner4 img{
    height: 22px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
#inner4 p{
    font-size: 4px;
    font-weight: 600;
}
#inner5{
    height: 90px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#inner5 h6{
    font-size: 6px;
}
#inner5 img{
    height: 22px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
#inner5 p{
    font-size: 4px;
    font-weight: 600;
}
#inner6{
    height: 90px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#inner6 h6{
    font-size: 6px;
}
#inner6 img{
    height: 22px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
#inner6 p{
    font-size: 4px;
    font-weight: 600;
}
#inner7{
    height: 90px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#inner7 h6{
    font-size: 6px;
}
#inner7 img{
    height: 22px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
#inner7 p{
    font-size: 4px;
    font-weight: 600;
}

.eighth {
    height: 200px;
    background-color: white;
}
.eighth h5{
    padding-left: 5px;
    margin-top: 10px;
}
.eighth1 {
    display: flex;
    justify-content: space-evenly;
}
.eighth1 img{
    height: 60px;
    width: 85px;
}
    .ninth{
    height: 110px;
    background-color: white;
}
.ninth h5{
    padding-left: 5px;
    margin-top: 10px;
}
.ninth1 {
    display: flex;
    justify-content: space-evenly;
}
.ninth1 img{
    height: 80px;
    width: 85px;
}
.ten {
    height: 110px;
    background-color: white;
}
.ten h5{
    padding-left: 5px;
    margin-top: 10px;
}
.ten1 {
    display: flex;
    justify-content: space-evenly;
}
.ten1 img{
    height: 80px;
    width: 85px;
}
.eleven{
    height: 110px;
    background-color: white;
}
.eleven h5{
    padding-left: 5px;
    margin-top: 10px;
}
.eleven1 {
    display: flex;
    justify-content: space-evenly;
}
.eleven1 img{
    height: 80px;
    width: 85px;
}
.twelve {
    height: 110px;
    background-color: white;
}
.twelve h5{
    padding-left: 5px;
    margin-top: 10px;
}
.twelve1 {
    display: flex;
    justify-content: space-evenly;
}
.twelve1 img{
    height: 80px;
    width: 85px;
}
.thirteen{
    height: 130px;
    background-color: rgb(240, 229, 231);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.thirteen1{
    height: 110px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.thirteen1 h5{
    font-size: 8px;
}
.thirteen1 p{
    font-size: 5px;
    color: black;
}
.thirteen1 img {
    height: 30px;
    width: 30px;
    margin-top: 4px;
    background-size:contain ;
}
.thirteen2{
    height: 110px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.thirteen2 h5{
    font-size: 8px;
}
.thirteen2 p{
    font-size: 5px;
    color: black;
}
.thirteen2 img {
    height: 30px;
    width: 30px;
    margin-top: 4px;
    background-size:contain ;
}
.thirteen3{
    height: 110px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.thirteen3 h5{
    font-size: 8px;
}
.thirteen3 p{
    font-size: 5px;
    color: black;
}
.thirteen3 img {
    height: 30px;
    width: 30px;
    margin-top: 4px;
    background-size:contain ;
}
.thirteen4{
    height: 110px;
    width: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.thirteen4 h5{
    font-size: 8px;
}
.thirteen4 p{
    font-size: 5px;
    color: black;
}
.thirteen4 img {
    height: 30px;
    width: 30px;
    margin-top: 4px;
    background-size:contain ;
}
}
